/* Welcome to Compass.
 * In this file you should write your main styles. (or centralize your imports)
 * Import this file using the following HTML or equivalent:
 * <link href="/stylesheets/screen.css" media="screen, projection" rel="stylesheet" type="text/css" /> */

@import "compass/reset";
@import "../components/foundation/scss/foundation.scss";
@import "mixins.scss";


body {
    font-size:20px;
    @include cabin-font;

}

h1, h2, h3, h4, h5, h6 {
    @include cabin-font;
}

ul {
    margin-bottom:1.25em;
}


article {
    ul {
        margin-left:1.25em;
    }
}