<!DOCTYPE html>
<html lang="{{ DEFAULT_LANG }}">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <title>{{ SITENAME }} {% block title %}{% endblock title %}</title>
    <link href="{{ SITEURL }}/theme/css/main.min.css" media="screen, projection" rel="stylesheet" type="text/css" />
</head>
<body>
    <div class="container-fluid qcpy-container">
        <div id="main" class="row">
            <section class="col-xs-12 col-lg-9">
                <h1><a href="/">{{ SITENAME }}</a></h1>
                <hr>
                {% block content %}
                {% endblock %}
            </section>

            <aside class="sidebar col-xs-12 col-lg-3">
                <nav class="qcpy-nav-main">
                    <ul class="nav nav-pills nav-stacked">
                        {% for p in PAGES %}
                            <li{% if p == page %} class="active"{% endif %}>
                                <a href="{{ SITEURL }}/{{ p.url }}">{{ p.title }}</a>
                            </li>
                        {% endfor %}
                    </ul>
                </nav>
                <div class="links-container">
                    {% for text, link in LINKS %}
                        {% if loop.index0 == 0 or loop.index0 % 2 == 0 %}
                            <div class="row">
                        {% endif %}

                        <a class="btn btn-info" href="{{ link }}" target="_blank" title="{{ text }}">{{ text }}</a>

                        {% if loop.index == 2 or loop.index % 2 == 0  %}
                            </div>
                        {% endif %}
                    {% endfor %}
                </div>
            </aside>
        </div>
    </div>
    <script src="//ajax.googleapis.com/ajax/libs/jquery/1.10.2/jquery.min.js"></script>
</body>
</html>