<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <title>Québec-Python</title>
    <link href='http://fonts.googleapis.com/css?family=Cabin:400,700' rel='stylesheet' type='text/css'>
    <link href="{{ SITEURL }}/theme/css/screen.css" media="screen, projection" rel="stylesheet" type="text/css" />
</head>
<body>
    <div class="row">
        <div class="large-12">
            <h1>Québec-Python</h1>
            <p>
                Préfèrez :<br>
                la beauté à la laideur,<br>
                l’explicite à l’implicite,<br>
                le simple au complexe<br>
                et le complexe au compliqué,<br>
                le déroulé à l’imbriqué,<br>
                l’aéré au compact.<br>
                Prends en compte la lisibilité.<br>
                Les cas particuliers ne le sont jamais assez pour violer les règles.<br>
                Mais, à la pureté, privilégie l’aspect pratique.<br>
                Ne passe pas les erreurs sous silence,<br>
                ... ou bâillonne-les explicitement.<br>
                Face à l’ambiguïté, à deviner ne te laisse pas aller.<br>
                Sache qu’il ne devrait avoir qu’une et une seule façon de procéder,<br>
                même si, de prime abord, elle n’est pas évidente, à moins d’être Néerlandais.<br>
                Mieux vaut maintenant que jamais.<br>
                Cependant jamais est souvent mieux qu’immédiatement.<br>
                Si l’implémentation s’explique difficilement, c’est une mauvaise idée.<br>
                Si l’implémentation s’explique aisément, c’est peut-être une bonne idée.<br>
                Les espaces de nommage ! Sacrée bonne idée ! Faisons plus de trucs comme ça.<br>
            </p>
        </div>
    </div>
</body>
</html>