<!DOCTYPE html>
<html lang="{{ DEFAULT_LANG }}">
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <title>{{ SITENAME }} {% block title %}{% endblock title %}</title>
    <link href='http://fonts.googleapis.com/css?family=Cabin:400,700' rel='stylesheet' type='text/css'>
    <link href="{{ SITEURL }}/theme/css/screen.css" media="screen, projection" rel="stylesheet" type="text/css" />
</head>
<body>
    <header class="row">
        <div class="large-12 columns">
            <h1><a href="/">{{ SITENAME }}</a></h1>
        </div>
    </header>
    <div id="main" class="row">
        <aside class="large-2 columns">
            <nav>
                <ul class="side-nav">
                    {% for p in PAGES %}
                        <li{% if p == page %} class="active"{% endif %}>
                            <a href="{{ SITEURL }}/{{ p.url }}">{{ p.title }}</a>
                        </li>
                    {% endfor %}
                </ul>
            </nav>
        </aside>
        <section class="large-10 columns">
        {% block content %}
        {% endblock %}
        </section>
    </div>
    <footer class="row">
        <div class="large-12 columns">
            <p><small>Propulsé par <a href="http://docs.getpelican.com/en/3.2/" title="Pelican">Pelican</a></small> </p>
        </div>
    </footer>
</body>
</html>